#main-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}


.counter {
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    background-color: burlywood;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #counter-input{
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }

  #plus-btn{
    width: 50%;
  }

  #minus-btn{
    width: 50%;
  }

  #reset-btn{
    margin: 10px 0;
  }
  
  .counter-name {
    text-align: center;
    color: green;
    font-size: 30px;
  }

  #start-value-btn{
    margin-bottom: 10px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .input-container label {
    margin-right: 10px;
    color: #333;
  }
  
  .buttons-container {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .button-2{
    display: flex;
    margin: 0 auto;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #375458;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #ccc;
  }
  
  .settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  #counter-name-btn {
    margin: 5px 0;
  }
  
  #new-value-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 auto;
  }
  